{% extends "layout.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<div class="table-responsive">
    <table class="table table-primary">
        <tr class="border bottom">
            <th>{% trans "id" %}</th>
            <th>{% trans "Username" %}</th>
            <th>{% trans "Fullname" %}</th>
            <th>{% trans "Registration" %}</th>
            <th>{% trans "Action" %}</th>
        </tr>
        {% for user in object_list %}
            <tr class="border bottom">
                <td>
                    {{ user.pk }}
                </td>
                <td>
                  {{ user.username }}
                </td>
                <td>
                    {{ user.get_full_name }}
                </td>
                <td>
                    {{ user.date_joined }}
                </td>
                <td>
                <div><a href="{% url 'users_update' pk=user.id %}">Изменить</a></div>
                <div><a href="{% url 'users_delete' pk=user.id %}">Удалить</a></div>
                </td>
            </tr>
        {% endfor %}
    
    </table>
    {% if page_obj %}
        {% include "pagination.html" %}
    {% endif %}
    </div>
</div>

{% endblock content %}