{% extends "layout.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<div class="table-responsive">
    <table class="table table-primary">
        <tr class="border bottom">
            <th>{% trans "id" %}</th>
            <th>{% trans "Username" %}</th>
            <th>{% trans "Email" %}</th>
            <th>{% trans "Project" %}</th>
            <th>{% trans "Task" %}</th>
        </tr>
        {% for user in object_list %}
            <tr class="border bottom">
                <td>
                    {{ user.pk }}
                </td>
                <td>
                    <a class="link" href="{% url 'users_detail' pk=user.pk %}">{{ user.username }}</a>
                </td>
                <td>
                    {{ user.email }}
                </td>
                <td>
                    {{ user.project }}
                </td>
                <td>
                    {{ user.task }}<br>
                </td>
            </tr>
        {% endfor %}
    
    </table>
    {% if page_obj %}
        {% include "pagination.html" %}
    {% endif %}
    </div>
</div>

{% endblock content %}