{% extends "layout.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<div class="container-md">
    <div class="row justify-content-center align-items-center g-2">
        <div class="col">{{ object.username }}</div>
        <div class="col">{{ object.email }}</div>
        <div class="col">{{ object.project }}</div>
        <div class="col">{{ object.task }}</div>
    </div>  
</div>



{% endblock content %}