{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block title %}
        <title>{% translate 'SiteTitle' %}</title>
        {% endblock %}
        <meta name="description" content="{% translate 'SiteDescription'%}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% bootstrap_javascript %}
        {% bootstrap_css %}
    </head>
    <body>
        <header>
            {% include 'navigation.html' %}
        </header>
        <main>
            <div class="container wrapper d-flex flex-column mt-5">
                {% if messages %}
                    <div class="row">
                        {% for message in messages %}
                        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% else %} class="alert alert-primary"{% endif %} role="alert">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="row flex-grow-1">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </main>
        <footer>
            {% include 'footer.html'%}
        </footer>
    </body>
</html>