{% load django_bootstrap5 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load static %}
<div class="container mt-4 bg-light">
    <div class="row">
        <div class="col-10">
            <nav class="navbar navbar-expand">
                <div>
                    <ul class="nav navbar">
                        <li class="nav-item navbar-brand active">
                            <a class="nav-link" href="{% url 'index' %}">{% trans 'SiteTitle'%}</a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" href="{% url 'users_index' %}">{% trans 'Users'%}</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item" >
                            <a class="nav-link" href="{% url 'statuses_index' %}">{% trans 'Statuses'%}</a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" href="{% url 'tasks_index' %}">{% trans 'Tasks'%}</a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" href="{% url 'labels_index' %}">{% trans 'Labels'%}</a>
                        </li>
                        </li>
                        {% else %}
                        <li class="nav-item" >
                            <a class="nav-link" href="{% url 'users_login' %}">{% trans 'Login'%}</a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" href="{% url 'users_create' %}">{% trans 'Registration'%}</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        {% if request.user.is_authenticated %}
            <nav class="navbar navbar-expand col-2">
                <ul class="nav navbar float-end">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users_profile' %}">{% trans 'Account' %} </a>
                    </li>
                    <li class="nav-item">
                        <form action="{% url 'users_logout' %}" method="post">
                        {% csrf_token %}
                            <input class="btn nav-link" type="submit" value="{% trans 'Logout' %}">
                        </form>
                    </li>
                </ul>
            </nav>
        {% endif %}
    </div>
</div>