{% extends "layout.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}

<div class="container">
    <form action="{% url "tasks_delete" pk=object.pk %}" method="post">
        {% csrf_token %}
        <div class="mb-3 row">
            {% trans 'Confirm_delete_item' %}{{object.name}}
        </div>
        <div class="mb-3 row">
            <div class="offset-sm-4 col-sm-8">
                <button type="submit" class="btn btn-primary">
                    {% trans "Delete" %}
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock content %}