{% extends "layout.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<a class="btn btn-primary mb-3" href={% url 'tasks_create'%}>
    {% trans "Create" %}
</a>
    <div class="card mb-3">
        <div class="card-body bg-light">
            <form method="get" class="form-inline center">
                    <div class='form-group mb-3'>
                        {{ filter.form.status.as_field_group }}
                    </div>
                    <div class='form-group mb-3'>
                        {{ filter.form.labels.as_field_group }}
                    </div>
                    <div class='form-group mb-3'>
                        {{ filter.form.executor.as_field_group }}
                    </div>
                    <div class='form-group mb-3'>
                        {{ filter.form.only_own_tasks.as_field_group }}
                    </div>
                    <input type="submit" />
            </form>
        </div>
    </div>
<div class="table-responsive">
    <table class="table table-primary">
        <tr class="border bottom">
            <th>{% trans "ID" %}</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Date of creation" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
        {% for status in object_list %}
            <tr class="border bottom">
                <td>
                    {{ status.pk }}
                </td>
                <td>
                  {{ status.name }}
                </td>
                <td>
                    {{ status.created_at }}
                </td>
                <td>
                    {{ task.author }}
                </td>
                <td>
                {% if task.executor %}
                    {{ task.executor }} 
                    {% else %} <em> {% trans 'Not assigned'%}</em>
                {% endif %}
                </td>
                <td>
                    {{ task.created_at }}
                </td>
                <td>
                <div><a href="{% url 'tasks_update' pk=task.id %}">{% trans 'Update' %}</a></div>
                <div><a href="{% url 'tasks_delete' pk=task.id %}">{% trans 'Delete' %}</a></div>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% if page_obj %}
        {% include "pagination.html" %}
    {% endif %}
    </div>

{% endblock content %}